# Data Science Tools and Ecosystem

## Author

Adi Jacobson

In this notebook, Data Science Tools and Ecosystem are summarized using various markdown cell styles.

**Objectives:**

* List popular languages for Data Science
* List popular libraries for Data Science
* List popular tools for Data Science
* Arithmetic Expressions

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. SciPy
3. NumPy
4. Seaborn

| Data Science Tools 
| :-----------:
| Apache Spark 
| Apache Hadoop 
| Tensorflow

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335